new-fonts-header(size = 20px, fonts-weight = bold)
  font-family: Roboto;
  font-style: normal;
  font-weight fonts-weight
  font-size size
new-fonts-opis(size = 18px, fonts-weight = normal)
  font-family: Roboto;
  font-style: normal;
  font-weight fonts-weight
  font-size size
